.title{
    background: url(../img/courseSharebg.png) no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
#curator-feed-new-feed2-layout {
  max-width: 100%;
}

#curator-feed-new-feed-layout{
  max-width: 100%;
}